* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
    font-family: sans-serif;
    background: honeydew;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

.grid-container {
    width: 80vw;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    background: lightgray;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.3rem solid black;
} 

.rect {
  fill: lightsteelblue;
  z-index: 1;
}
  
.rect-group:hover .rect {
  stroke: orange;
  cursor: cell;
}

  .rect:hover {
    cursor: cell;
  }

  .text:hover {
    cursor: cell;
  }
  
  .selected {
    fill: violet;
  }
  
  .drawn {
    stroke-width: 1.5;
    stroke: red;
  }
  
  .controls {
    text-align: center;
    margin: auto;
    margin-bottom: 0.25rem;
  }

  button {
    border: none;
    background-color: transparent;
    outline: none;
 }

.play {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  padding: 2.5rem;
  margin: 1rem 0.5rem;
  background: crimson;
  border-radius: 50%;
  border: black 0.25rem solid;
  box-shadow: 2px 4px #999;
}

.play:active {
  background: wheat;
  transform: translateY(4px);
}

.clear-selection,
.quick-play {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem 0.5rem;
  background: rgb(147, 223, 248);
  border: black 0.1rem solid;
  box-shadow: 2px 4px #999;
}

.clear-selection:active,
.quick-play:active {
  transform: translateY(4px);
}


.info-container {
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  width: 95vw;
  margin: auto;
  border: 0.4rem solid black;
}

.info-panel {
  font-size: 36px;
  overflow-wrap: anywhere;
}

  .info-credits,
  .info-drawn,
  .info-matches,
  .info-selected {

    height: 64px;
    padding: 0.5rem;
  }

.info-drawn,
.info-selected {
  height: 144px;
}

.info-credits,
.info-drawn {
  background: rgba(248, 242, 242, 0.9);
}

.info-message {
  width: 100%;
  text-align: center;
  color: white;
  background: steelblue;
  padding: 0.50rem 0rem;
  border-bottom: 0.1rem solid black; 
}

  .drawing-active {
    background: grey;
  }