body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}

.grid-container {
    width: 50vw;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
} 

.rect {
  fill: lightsteelblue;
}
  
  .rect:hover {
    stroke: orange;
    cursor: cell;
  }
  
  .text:hover {
    cursor: cell;
  }
  
  .selected {
    fill: violet;
  }
  
  .drawn {
    stroke-width: 1.5;
    stroke: red;
  }
  
  .controls {
    text-align: center;
    margin: auto;
    margin-bottom: 0.25rem;
  }

  .info-panel {
      margin: 0.1rem;
      border: 0.1rem solid slateblue;
      border-radius: 0.2rem;
      padding: 0.1rem;
  }